.auth-page {
  min-height: 100vh;
  width: 100%;
  background-image: url("../assets/signin.svg");
  background-size: cover;         
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #BDCAB8;    
}


/* Card */
.forgot-card {
  width: 40%;
  max-width: 420px;
  background: transparent;
  transform: translateY(-60px);
}

/* Title */
.forgot-title {
  font-family: "Cormorant Unicase", serif;
  font-size: 50px;
  font-weight: 600;
  color: #402A12;
  line-height: 1;
  margin-bottom: 26px;
  position: relative;
  right: -40%;
}

.forgot-title-indent {
  display: inline-block;
  margin-left: 20px; 
}


/* LABEL & NOTES */
.forgot-label {
  position: relative;
  right: -50%;
  font-family: "Forum", serif;
  font-size: 24px;
  color: #402A12;
  display: block;
  margin-bottom: 20px;
  
}

.forgot-note {
  display: block;
  font-size: 14px;
  color: #402A12;
  opacity: 0.7;
  margin-bottom: 10px;
}

/* INPUT */
.forgot-input {
  width: 70%;
  padding: 14px;
  position: relative;
  left: 0;
  display: block;
  background: white;
  border: 1px solid #c7c7c7;
  border-radius: 14px;
  font-size: 15px;
}

/* BUTTON */
.forgot-btn {
  width: 70%;
  padding: 12px;
  margin-top: 10px;
  margin-left: 25px;
  background: #65421E;
  opacity: 0.60;
  color: white;
  border: none;
  border-radius: 14px;
  font-family: "Forum", serif;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.25s;
    position: relative;
  right: -45%;
}

.forgot-btn:hover {
  opacity: 1;
  background: #3F632B;
}

/*logo back button*/
.back-btn {
  position: absolute;
  top: 25px;  
  left: 25px;    
  z-index: 999;  
}

.back-btn-img {
  width: 300px;   
  height: auto;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.back-btn-img:hover {
  opacity: 0.8;
}

/*social media sign in*/
.social-login {
  position: absolute;
  left: 18%;
  top: 62%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 20;
}

.social-or {
  font-family: "Forum", serif;
  font-size: 24px;
  color: #402A12;
  margin-left: 12px;
  margin-bottom: 0;
}

.social-btn {
  background: #65421E;
  color: white;
  border: none;
  border-radius: 14px;
  padding: 12px 16px;
  font-size: 18px;
  font-family: "Forum", serif;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  width: 260px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
  transition: 0.25s;
}

.social-btn:hover {
  background: #3F632B;
}

/* Icon*/
.social-icon {
  width: 20px;
  height: 20px;
}

@media (max-width: 1024px) {

  .forgot-card {
    width: 80%;
    max-width: 350px;
    transform: translateY(-20px);  
  }

  .forgot-title {
    font-size: 44px;
    right: -20%;        
    text-align: center;
  }

  .forgot-title-indent {
    margin-left: 8px;    
  }

  .forgot-label {
    right: -50%;
    font-size: 22px;
    margin-bottom: 14px;
  }

  .forgot-note {
    font-size: 14px;
  }

  .forgot-input {
    width: 80%;
    position: relative;
    left: 0;
    font-size: 14px;
    border-radius: 10px;
  }
  .forgot-btn {
    width: 80%;
    position: relative;
    right: -44%;
    font-size: 18px;
    border-radius: 12px;
  }
  .social-login {
  left: 14px;
  top: 60%;
}
.social-btn {
  width: 240px;
}
}
